<div
  class="fixed bottom-4 right-4 p-3 bg-slate-500 bg-opacity-30 backdrop-filter backdrop-blur-lg rounded-full flex flex-col gap-4"
>
  <a href="#" className="text-white hover:text-slate-400 transition-all duration-300">
    <img src="/icons/MdiGithub.svg" width="32" height="32" />
  </a>
  <a href="#" className="text-white hover:text-slate-400 transition-all duration-300">
    <img src="/icons/BasilLinkedinSolid.svg" />
  </a>
  <a href="#" className="text-white hover:text-slate-500 transition-all duration-300">
    <img src="/icons/BasilInstagramSolid.svg" />
  </a>
</div>
