/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 43, 129;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Site Specific */

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

.section-title {
  @apply text-4xl lg:text-6xl font-bold text-white;
  display: table;
  white-space: nowrap;
  margin-bottom: 10px;

  &:after {
    border-top: 1px solid #10b981;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 100%;
  }

  &:after {
    left: 1.5%;
  }
}

.navbar-active > .nav-indicator {
  @apply w-16 bg-slate-200;
}

.navbar-active > .nav-text {
  @apply text-slate-200;
}

::-webkit-scrollbar {
  width: 0px;
}

.projects-section::-webkit-scrollbar {
  width: 2px;
}

.projects-section::-webkit-scrollbar-track {
  background: #001521;
}

.projects-section::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 50px;
}

.projects-section::-webkit-scrollbar-thumb:hover {
  background: #10a981;
}

@layer components {
}
