<section class='w-screen h-screen flex flex-col items-center justify-center section opacity-0' id='about'>
  <div class='w-1/2'>
    <div class='drop-shadow-[0_0_30px_#10b981]'>
      <h1 class='section-title uppercase'>{{ .Site.Data.about.Title }}</h1>
    </div>
    <div class='relative'>
      <div class='flex items-start'>
        <img src="/img/NicolasCrausaz.png" draggable='false' class="w-48 h-48"/>
        <div class='text-white flex flex-col w-full mt-8'>
          <h2 class='text-2xl mb-6 text-emerald-400'>Nicolas Crausaz</h2>
          <ul role='list' class='marker:text-emerald-400 list-disc pl-5 space-y-3'>
            <li class='text-slate-400 hover:text-white'>Ingénieur HES diplomé de l'HEIG-VD</li>
            <li class='text-slate-400 hover:text-white'>24 ans</li>
            <li class='text-slate-400 hover:text-white'>Suisse, domicilié dans le canton de Vaud</li>
            <li class='text-slate-400 hover:text-white'>Joueur de basket</li>
          </ul>
        </div>
      </div>

      <div class='backdrop-blur-xl bg-white/10 text-white p-4 -translate-y-16 translate-x-20 rounded-xl hover:shadow-xl hover:shadow-[#001521]'>
        <p>
          <span class='underline decoration-emerald-500'>Passionné</span> par le développement, en particulier
          par les <span class='underline decoration-emerald-500'>technologies Web</span>, j’ai eu l’occasion
          durant mes études, ainsi que de manière indépendante, de réaliser de multiples projets réels de moyenne à
          grande envergure. Récemment diplômé de l’<span class='underline decoration-emerald-500'>HEIG-VD</span>
          , je suis à la recherche d’un poste d'ingénieur logiciel dans lequel je pourrais mettre à profit mes
          compétences et ma motivation.
        </p>
      </div>
    </div>
  </div>
</section>
