<section class="w-screen h-screen flex flex-col items-center justify-center section opacity-0" id="contact">
  <div class="w-1/2">
    <div class="drop-shadow-[0_0_30px_#10b981]">
      <h1 class="section-title uppercase">Contact</h1>
    </div>
    <p class="text-center text-white mb-10">
      {{ .Site.Data.contact.Subtitle }}
    </p>
    <div class="w-full rounded-2xl shadow-2xl backdrop-blur-sm bg-white/10">
      <form
        name="contact"
        method="post"
        action="https://formspree.io/mknqbjkw"
        class="w-full p-8 my-4 mr-auto rounded-2xl shadow-2xl bg-emerald-500 transform translate-x-4 translate-y-4"
      >
        <div class="flex">
          <h1 class="font-bold uppercase text-3xl text-white">Votre message</h1>
        </div>

        <div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
          <input
            class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-[#001825]"
            name="name"
            type="text"
            placeholder="Votre nom"
            required
          />
          <input
            class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            name="email"
            type="email"
            placeholder="Votre email"
            required
          />
        </div>
        <div class="my-4">
          <textarea
            placeholder="Votre message ..."
            name="message"
            class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            required
          ></textarea>
        </div>
        <div class="my-2">
          <button
            type="submit"
            class="uppercase text-sm font-bold tracking-wide bg-[#001825] text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline"
          >
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
