<section class="w-screen h-screen flex flex-col items-center justify-center section">
  <div class="drop-shadow-[0_0px_30px_#10b981] opacity-0" id="main-title">
    <h1 class="text-6xl text-white">NICOLAS CRAUSAZ</h1>
    <h4 class="text-xl text-emerald-500 float-right">Software Engineer</h4>
  </div>

  <div class="absolute bottom-20">
    <a href="#about" id="call-to-scroll" class="opacity-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
        <g fill="lightgray">
          <path
            d="M5.293 12.293a1 1 0 0 1 1.414 0L12 17.586l5.293-5.293a1 1 0 0 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z"
          />
          <path
            d="M5.293 4.293a1 1 0 0 1 1.414 0L12 9.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z"
          />
        </g>
      </svg>
    </a>
  </div>
</section>
