<section
  class="w-screen h-screen portfolio-blue flex flex-col items-center lg:justify-center section opacity-0"
  id="training"
>
  <div class="w-2/3 lg:w-1/2 relative">
    <div class="drop-shadow-[0_0_30px_#10b981] mt-6 lg:mt-0">
      <h1 class="section-title uppercase">{{ .Site.Data.training.Title }}</h1>
    </div>
    <div class="flex w-full flex-col sm:flex-row mt-10 z-10">
      <div class="mb-4 overflow-x-auto sm:w-max sm:flex-col flex-none">
        {{ range .Site.Data.training.training }}
        <button
          class="text-white mb-2 flex h-12 items-center whitespace-nowrap px-4 rounded-xl rounded-l-none exp-button  {{ if eq .id 1 }} bg-emerald-500 {{ end }}"
          data-id="{{ .id }}"
        >
          <img src="/img/experiences/{{ .image }}" class="p-2" style="max-width: 40px" />

          {{ .btn_label }}
        </button>
        {{ end }}
      </div>
      <div class="ml-5">
        {{ range .Site.Data.training.training }}
        <div class="flex flex-col gap-2 exp-section {{ if ne .id 1 }} hidden {{ end }}" id="sect{{ .id }}">
          <div class="flex gap-2">
            <img src="/img/experiences/{{ .image }}" class="p-2" style="max-height: 80px" />
            <div class="flex flex-col">
              <span class="text-lg font-bold text-emerald-500">{{ .job_employer }}</span>
              <span class="text-primary text-sm text-white">{{ .job_description }}</span>
              <span class="text-sm text-white">{{ .job_location }}</span>
              <span class="text-sm text-white">{{ .job_timerange }}</span>
            </div>
          </div>
          <p class="text-primary text-sm text-white mt-2">{{ .description }}</p>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="absolute w-1/2 top-20 right-0 z-0 opacity-30">
      <object data="/img/experience-path.svg" type="image/svg+xml" id="progress-exp-parent"></object>
    </div>
  </div>
</section>
