@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 24, 43, 129; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 43, 129;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

.section-title {
  @apply text-6xl font-bold;
  display: table;
  white-space: nowrap;

  &:after {
    border-top: 1px solid #10b981;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 100%;
  }

  &:after {
    left: 1.5%;
  }
}
